{% extends "base.twig" %} {% block title %} Pagina Principal {% endblock title %} {% block content %}

<div class="jumbotron">
    <h1 class="display-3">Gerenciador de Newsletter</h1>
    <p class="lead">Bem Vindo ao Gerenciador de Newsletter</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{path_for('news-list')}}" role="button" >Noticias Disponíveis</a>
        <a class="btn btn-primary btn-lg" href="{{path_for('sendnews-choose')}}" role="button">Enviar Newsletter</a>
    </p>
</div>
{% endblock content %}