{% extends "base.twig" %} {% block title %} Pre-visualização do e-mail - Enviar Newsletter {% endblock title %} {% block content %}
<h1>Pre-visualização do e-mail</h1>
<form method="Post" action="{{path_for('sendnews-send')}}">
<label>Mensagem:</label>
<div class="border p-1" id="preview">
    <h1>Newsletter da Semana</h1>
    <p>Sua newsletter semanal!</p>
    {% for post in postsChosen %}
        <p><b>{{post.created_at}} - {{post.title}}</b><br />{{post.description}}
    {% endfor %}
</div>
<div class="form-group">
  <label for="">Para:</label>
  <input type="email"
    class="form-control" name="email" id="email" aria-describedby="helpId" placeholder="" value="michel.regis@prnewswire.com.br">
</div>
<div class="btn-toolbar" role="toolbar" aria-label="">
    <div class="btn-group" role="group" aria-label="">
        <button type="submit" class="btn btn-primary">Enviar Newsletter</button>
    </div>
</div>
</form>
{% endblock content %}